<div style="text-align:center">
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="posts" routerLinkActive="active">Add Posts</a>
        <a class="nav-item nav-link" routerLink="index" routerLinkActive="active">List</a>
      </div>
    </div>
  </nav> -->

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="posts" >Add Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="index" >List</a>
    </li>
  </ul>

  <!-- <h1>
    {{ title }}!
  </h1> -->

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
